<lib-transaction-item class="transaction-item">
    <div data-test-hook="transactionColour" class="band" [ngStyle]="{'background-color': details.categoryCode}">
    </div>
    <div class="col-2" data-test-hook="transactionDate">
        {{details.dates.valueDate | date: 'MMM. d'}}
    </div>
    <div data-test-hook="transactionMerchantName">
        {{details.merchant.name}}
    </div>
    <div data-test-hook="transactionType">
        {{details.transaction.type}}
    </div>
    <div data-test-hook="transactionAmount">
        {{details.transaction.amountCurrency.amount}}
    </div>
</lib-transaction-item>