<meta name="viewport" content="width=device-width, user-scalable=no">

<div class="container-fluid p-0">
    <header>
        <lib-logo></lib-logo>
    </header>
    <section>
        <div class="col-4">
            <app-make-transfer></app-make-transfer>
            <lib-transaction-item></lib-transaction-item>
        </div>
    </section>
    <footer>
        <lib-footer></lib-footer>
    </footer>
</div>


<!-- <app-logo></app-logo>
<app-footer></app-footer>

<app-transaction-item></app-transaction-item>
<app-filter></app-filter>
<app-submit-button></app-submit-button> -->